@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap') ;


*{
    box-sizing: border-box;
}

body{
    font-family: 'Poppins' , sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.card{
    background: #444444d0;
    color: #fff;
    padding: 2rem;
    border-radius: 30px;
    width: 420px;
    margin: 1rem;
}

.search{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

button{
    margin-left: 0.4em;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    border: none;
    outline: none;
    cursor: pointer;
}

.search_bar{
    height: 100%;
    outline: none;
    padding: 0.7rem 1rem;
    width: 80%;
    border-radius: 18px;
    background-color: #7c7c7c2b;
    border: 1px solid #000;
    color: #fff;
    font-size: 1rem;
}

input::placeholder{
    color: #fff;
}

@media (max-width: 360px) {
    .card{
        width: 350px;
    }
    h1{
        font-size: 25px;
    }
}